@mixin btn-base {
    font-size: 1.4rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: 0.55rem;
    border: solid 2px $color-main;
}

$color-main: #0075FF;

.btn-main {
    @include btn-base();
    background-color: $color-main;
    color: white;

    &:hover {
        background-color: white;
        color: $color-main;
    }
    
    &-s {
        @extend .btn-main;
        font-size: .9rem;
    }
}

.btn-sec {
    @include btn-base();
    background-color: white;
    color: black;
    border: none;

    &:hover {
        color: #8888;
    }
    
    &-s {
        @extend .btn-sec;
        font-size: .9rem;
    }
}

.main-menu {
    li {
        margin-right: 1rem;
        font-size: 1.5rem;
        list-style: none;
        display: inline;
    }
}

.icon-sm {
    color: $color-main;
    padding: .5rem;
    width: 1.1rem;
    border-radius: 1.4rem;
    box-shadow: 0 0 10px #8888;
}

.feature {
    width: 18rem;
    display: flex;
    flex-direction: column;
    .icon {
        color: $color-main;
        font-size: 5rem;
        text-align: center;
    }
    
    .description {
        .title {
            text-align: center;
        }
        .text {
            color: #888;
            text-align: center;
            inline-size: 280px;
            overflow-wrap: break-word;
        }
    }

    .cta {
        color: $color-main;
        text-align: center;
        margin-top: 6rem;
        inline-size: 270px;
        overflow-wrap: break-word;
    }

}

.icon-desc {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
        color: $color-main;
        font-size: 6rem;
    }
    .title {
        margin-top: -.8rem;
        font-weight: bolder;
    }
}
