@use "components";

@mixin set-wrap($len) {
  inline-size: $len;
  overflow-wrap: break-word;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: solid #ddd 0.1rem;
  height: 2.8rem;
}

.sec-home {
  display: flex;
  margin: 6rem 16rem;
  .home-cta {
    flex: 1;
    a {
      color: components.$color-main;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      i {
        -webkit-text-stroke: 1px;
      }
    }
    .home-title {
      font-size: 4rem;
      margin-top: 0.7rem;
      margin-bottom: 1rem;
      @include set-wrap(25rem);
    }
    p {
      @include set-wrap(25rem);
    }

    #inputEmail {
      height: 100%;
    }
  }
}

.sec-features {
  margin: 6rem 16rem;
  display: flex;
  flex-direction: column;
  // gap: 1rem;
  .intro {
    text-align: center;
  }

  .features {
    width: 60rem;
    align-content: center;
    margin: auto;
    .text {
      padding: 2rem 0;
      flex: 1;
      .feature {
        display: flex;
        flex-direction: row;
        .description {
          margin-left: 1rem;
          .description-title {
            font-size: 1.15rem;
          }
          .description-text {
            font-size: 1rem;
            color: #888;
            @include set-wrap(19rem);
          }
        }
      }
    }
  }
  .image {
    img {
      max-width: 100%;
    }
  }
}
