@use "components";

@mixin container {
  margin: 6rem 16rem;
  display: flex;
  flex-direction: column;
}

@mixin container-md {
  margin: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: solid #ddd 0.1rem;
  height: 2.8rem;
}

.sec-home {
  @include container();
  flex-direction: row;
  .home-cta {
    flex: 1;
    a {
      color: components.$color-main;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      i {
        -webkit-text-stroke: 1px;
      }
    }
    .home-title {
      font-size: 4rem;
      margin-top: 0.7rem;
      margin-bottom: 1rem;
      @include components.set-wrap(25rem);
    }
    p {
      @include components.set-wrap(25rem);
    }

    #inputEmail {
      height: 100%;
    }
  }
}

.sec-features {
  @include container();

  .intro {
    text-align: center;
  }

  .features {
    width: 60rem;
    align-content: center;
    margin: auto;
    .text {
      padding: 2rem 0;
      flex: 1;
      .feature {
        display: flex;
        flex-direction: row;
        .description {
          margin-left: 1rem;
          .description-title {
            font-size: 1.15rem;
          }
          .description-text {
            font-size: 1rem;
            color: #888;
            @include components.set-wrap(19rem);
          }
        }
      }
    }
  }
  .image {
    img {
      max-width: 100%;
    }
  }
}

.sec-benefits {
  @include container();
  border-top: solid 1px #ddd;
  padding-top: 3rem;

  .intro {
    text-align: center;
  }
}

.sec-kpis {
  width: 100%;
  background-color: components.$color-main;
  color: white;
  padding: 3.8rem;
  .kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
    .number {
      font-size: 3.5rem;
    }
    .desc {
      font-size: 0.9rem;
      color: #ffffffaa;
    }
  }
}

.sec-onboarding {
  @include container();

  .intro {
    text-align: center;
  }

  .steps {
    display: flex;

    .step-separator {
      flex: 1;
      border-top: 2px solid #ddd;
      margin-top: 6%;
    }
  }
}

.sec-footer-cta {
  background-color: #f4f8fe;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: 100%;
  .footer-cta {
    @include container();

    div {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    margin-bottom: 0;
    @include components.set-wrap(62rem);
  }
}

@media (max-width: 768px) {
  .sec-home {
    @include container-md();
    .home-cta {
      .home-title {
        font-size: 3rem;
        @include components.set-wrap(auto);
      }
      p {
        @include components.set-wrap(auto);
      }

      #inputEmail {
        height: 100%;
      }
    }
  }

  .sec-features {
    @include container-md();

    .features {
      width: auto;

      .text {
        .feature {
          .description {
            .description-text {
              @include components.set-wrap(auto);
            }
          }
        }
      }
    }

    .description-text {
      @include components.set-wrap(auto);
    }
  }

  .sec-benefits {
    @include container-md();

    .benefit {
      margin: auto;

      .cta {
        margin-top: 1rem;
      }
    }
  }

  .sec-onboarding {
    @include container-md();

    .steps {
      flex-direction: column;

      div {
        margin: auto;
      }
    }
  }

  .sec-footer-cta {
    background-image: none;
    .footer-cta {
      @include container-md();
      @include components.set-wrap(auto);
      margin-bottom: 0;
      padding: 1rem;

      .col-6 {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}
