.btn-main, .btn-main-s {
  font-size: 1.2rem;
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 0.55rem;
  border: solid 2px #0075ff;
  background-color: #0075ff;
  color: white;
}
.btn-main:hover, .btn-main-s:hover {
  background-color: white;
  color: #0075ff;
}
.btn-main-s {
  font-size: 0.9rem;
  padding: 0.3rem 0.8rem;
}

.btn-sec, .btn-sec-s {
  font-size: 1.2rem;
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 0.55rem;
  border: solid 2px #0075ff;
  background-color: white;
  color: black;
  border: none;
}
.btn-sec:hover, .btn-sec-s:hover {
  color: rgba(136, 136, 136, 0.5333333333);
}
.btn-sec-s {
  font-size: 0.9rem;
}

.main-menu li {
  margin-right: 1rem;
  list-style: none;
  display: inline;
}
.main-menu li a {
  color: black;
  text-decoration: none;
}
.main-menu li a:hover {
  text-decoration: underline;
}

.icon-sm {
  color: #0075ff;
  text-align: center;
  padding: 0.5rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.4rem;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.5333333333);
}
.icon-sm i {
  -webkit-text-stroke: 1px;
}

.benefit {
  width: 18rem;
  display: flex;
  flex-direction: column;
}
.benefit .icon {
  color: #0075ff;
  font-size: 5rem;
  text-align: center;
}
.benefit .description .title {
  text-align: center;
}
.benefit .description .text {
  color: #888;
  text-align: center;
  inline-size: 19rem;
  overflow-wrap: break-word;
  margin: auto;
}
.benefit .cta {
  color: #0075ff;
  text-align: center;
  margin: auto;
  margin-top: 6rem;
  inline-size: 270px;
  overflow-wrap: break-word;
}

.icon-desc {
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-desc .icon {
  color: #0075ff;
  font-size: 6rem;
}
.icon-desc .title {
  margin-top: -0.8rem;
  font-weight: bolder;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: solid #ddd 0.1rem;
  height: 2.8rem;
}

.sec-home {
  margin: 6rem 16rem;
  display: flex;
  flex-direction: column;
  flex-direction: row;
}
.sec-home .home-cta {
  flex: 1;
}
.sec-home .home-cta a {
  color: #0075ff;
  text-decoration: none;
}
.sec-home .home-cta a:hover {
  text-decoration: underline;
}
.sec-home .home-cta a i {
  -webkit-text-stroke: 1px;
}
.sec-home .home-cta .home-title {
  font-size: 4rem;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  inline-size: 25rem;
  overflow-wrap: break-word;
}
.sec-home .home-cta p {
  inline-size: 25rem;
  overflow-wrap: break-word;
}
.sec-home .home-cta #inputEmail {
  height: 100%;
}

.sec-features {
  margin: 6rem 16rem;
  display: flex;
  flex-direction: column;
}
.sec-features .intro {
  text-align: center;
}
.sec-features .features {
  width: 60rem;
  align-content: center;
  margin: auto;
}
.sec-features .features .text {
  padding: 2rem 0;
  flex: 1;
}
.sec-features .features .text .feature {
  display: flex;
  flex-direction: row;
}
.sec-features .features .text .feature .description {
  margin-left: 1rem;
}
.sec-features .features .text .feature .description .description-title {
  font-size: 1.15rem;
}
.sec-features .features .text .feature .description .description-text {
  font-size: 1rem;
  color: #888;
  inline-size: 19rem;
  overflow-wrap: break-word;
}
.sec-features .image img {
  max-width: 100%;
}

.sec-benefits {
  margin: 6rem 16rem;
  display: flex;
  flex-direction: column;
  border-top: solid 1px #ddd;
  padding-top: 3rem;
}
.sec-benefits .intro {
  text-align: center;
}

.sec-kpis {
  width: 100%;
  background-color: #0075ff;
  color: white;
  padding: 3.8rem;
}
.sec-kpis .kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-kpis .kpi .number {
  font-size: 3.5rem;
}
.sec-kpis .kpi .desc {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6666666667);
}

.sec-onboarding {
  margin: 6rem 16rem;
  display: flex;
  flex-direction: column;
}
.sec-onboarding .intro {
  text-align: center;
}
.sec-onboarding .steps {
  display: flex;
}
.sec-onboarding .steps .step-separator {
  flex: 1;
  border-top: 2px solid #ddd;
  margin-top: 6%;
}

.sec-footer-cta {
  background-color: #f4f8fe;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: 100%;
}
.sec-footer-cta .footer-cta {
  margin: 6rem 16rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  inline-size: 62rem;
  overflow-wrap: break-word;
}
.sec-footer-cta .footer-cta div {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .sec-home {
    margin: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .sec-home .home-cta .home-title {
    font-size: 3rem;
    inline-size: auto;
    overflow-wrap: break-word;
  }
  .sec-home .home-cta p {
    inline-size: auto;
    overflow-wrap: break-word;
  }
  .sec-home .home-cta #inputEmail {
    height: 100%;
  }
  .sec-features {
    margin: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .sec-features .features {
    width: auto;
  }
  .sec-features .features .text .feature .description .description-text {
    inline-size: auto;
    overflow-wrap: break-word;
  }
  .sec-features .description-text {
    inline-size: auto;
    overflow-wrap: break-word;
  }
  .sec-benefits {
    margin: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .sec-benefits .benefit {
    margin: auto;
  }
  .sec-benefits .benefit .cta {
    margin-top: 1rem;
  }
  .sec-onboarding {
    margin: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .sec-onboarding .steps {
    flex-direction: column;
  }
  .sec-onboarding .steps div {
    margin: auto;
  }
  .sec-footer-cta {
    background-image: none;
  }
  .sec-footer-cta .footer-cta {
    margin: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    inline-size: auto;
    overflow-wrap: break-word;
    margin-bottom: 0;
    padding: 1rem;
  }
  .sec-footer-cta .footer-cta .col-6 {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
