.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.btn-modern {
  font-size: medium;
  font-weight: 600;
  color: gray;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.btn-modern:hover {
  animation: traslacion 0.4s forwards;
  box-shadow: 0px 5px 5px rgb(80, 80, 80);
  cursor: pointer;
}

@keyframes traslacion {
  0% {
    transform: translateY(0px);
  }
  100% {
    background-color: #ccc;
    color: black;
    transform: translateY(-5px);
  }
}
